.expo
.expo-shared
.git
node_modules
android/.gradle
android/**/build
ios/Pods
ios/build
dist
build
.vscode
*.log
*.keystore
*.jks
*.pem
*.p8
*.zip
*.tar.gz
*.tgz
*.sqlite
*.db
coverage
*.DS_Store
**/Thumbs.db
**/desktop.ini
**/node_modules/**/node_modules
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
**/.expo/**
/.expo/**node_modules
dist
.expo
node_modules/
dist/
.expo/
**/node_modules/**

